.App {
  text-align: center;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.heurs-container{
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-top: 100px;
}

.minute-container{
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}


.seconde-container{
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.container{
  display: flex;
  margin-top: 40px;
  margin-left: 500px;
 
  width: 300px;
  height: 200px;
  border-radius: 15px;
}
.heurs {
  font-size: 40px;

  font-weight: bold;
  font-family: sans-serif;
}
.minute {
  font-size: 40px;

  font-weight: bold;
  font-family:  sans-serif;
}
.seconde{
  font-size: 40px;

  font-weight: bold;
  font-family: sans-serif;
}


.heurs-text {
  margin-top: 20px;
  margin-right: 15px;
  font-size: 15px;
  color: grey;
  font-weight: normal;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.minute-text {
  margin-top: 20px;
  margin-right: 15px;
  font-size: 15px;
  color: grey;
  font-weight: normal;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.seconde-text{
  margin-top: 20px;
  margin-right: 5px;
  font-size: 15px;
  color: grey;
  font-weight: normal;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.start{
  width: 80px;
  height: 40px;
  position: absolute;
  right: 750px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid salmon;
}
.reset{
  width: 80px;
  height: 40px;
  position: absolute;
  right: 600px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid salmon;
}